.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  text-align: left;
}

.brand h1 {
  margin: 0;
}

.nav-bar {
  text-align: right;
}

.nav-button {
  background-color: #282c34; 
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.nav-button:hover {
  background-color: #4fa3d1;
}